.vscode/*
!.vscode/launch.json

__pycache__

# For development
test*.py
project.json
*.sb3

# folders for organisation
test/
discard/
holding/


# Blender backups
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5


# MS Excel
~$*.xlsx


# Rhinoceros 3D
*.3dmbak
*.3dm.rhl
*.dmp
